/* Table of Content
 ==================================================
 #Site Styles
 #Page Styles
 #Media Queries
 #Font-Face */

/*font-family: 'Open Sans Condensed', sans-serif;
 font-family: 'Open Sans', sans-serif;
 font-family: 'Roboto', sans-serif;
 */

/* #Site Styles
 ================================================== */

/* #Page Styles
 ================================================== */

body {
	background: #fff;
}
#center {
	position: relative;
}
.container22 {
	width: 1000px;
	position: relative;
	margin: 0 auto;
	min-height: 1px;
}
#menu {
	position: absolute;
	top: 22px;
	left: 209px;
}
#menu ul li {
	float: left;
	margin-right: 5px;
}
#menu ul li a {
	display: block;
	width: 99px;
	height: 50px;
	/*background: rgba(0, 0, 0, 0.34);*/
}
/*
 * nowe
 */

#wrapper1 {
	min-width: 1000px;
	width: 100%;
	min-height: 100%;
	/*overflow: hidden;
	 overflow-x: hidden;*/
	position: relative;
}
#wrapper2 {
	height: 100%;
	overflow: visible;
}
#wrapper3 {
	margin: 0 auto;
	text-align: left;
	overflow: hidden;
}
.columns {
	width: 1020px;
	margin: 0 auto;
	padding: 10px 0 0 30px;
}
#wrapper3 .columns {
	width: 1020px;
	padding: 0;
}
.bx-wrapper {
	position: relative;
	margin: 0;
	padding: 0;
	height: 2508px;
}
div.bx-viewport {
	width: 1920px !important;
	/*height: 600px !important;*/
	overflow: hidden !important;
	position: absolute !important;
	left: -451px !important;
	top: 0;
	z-index: 10;
	border: 0 !important;
}
/* #Media Queries
 ================================================== */

/* Bigger than 960 */
@media only screen and (min-width: 960px) and (max-width: 1200px) {
}
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
}

/* #Font-Face
 ================================================== */
/* 	This is the proper syntax for an @font-face file
 Just create a "fonts" folder at the root,
 copy your FontName into code below and remove
 comment brackets */

/*	@font-face {
 font-family: 'FontName';
 src: url('../fonts/FontName.eot');
 src: url('../fonts/FontName.eot?iefix') format('eot'),
 url('../fonts/FontName.woff') format('woff'),
 url('../fonts/FontName.ttf') format('truetype'),
 url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
 font-weight: normal;
 font-style: normal; }
 */