/*
 Theme Name: Vezun
 ----------------------------------------------------------------------------------------------------------------*/
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
::selection {
	background: #323232;
	color: #fff;
	text-shadow: none;
}
*:focus, textarea:focus, input:focus {
	outline: 0;
}
body {
	background: #061E3A url(../images/bg.jpg);
	font: 16px/26px "Times", Calibri, serif !important;
	color: #fff;
	padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
	margin: 10px 0;
	font-family: "Times New Roman", Times, serif !important;
	font-weight: normal;
	line-height: 20px;
	color: #fff;
	text-rendering: optimizelegibility;
}
h2.subtitle {
	    color: #AB997B;
    margin: 33px 0;
    text-align: center;
    border-bottom: 1px solid #AB997B;
    padding-bottom: 18px;
    text-transform: uppercase;
}
img {
	max-width: 100%;
	display: block;
}
.display-none {
	display: none !important;
}
.span12 {
	width: 1020px;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
/*.printer-icon a {
	opacity: 0;
}*/
span.printer-icon {
    text-align: center !important;
    display: inline-block;
}
span.printer-icon a {
	color:#Fff;
}
a:hover {
	/*color:#333 !important;*/
}
.nivo-lightbox-image img:hover {
	cursor: pointer;
}
.real-btn, .btn-blue, .btn-grey {
	font-family: Times;
	display: inline-block;
	vertical-align: middle;
	font-size: 13px;
	color: #fff;
	line-height: 17px;
	text-align: center;
	margin-bottom: 0;
	padding: 8px 16px;
	-webkit-padding-before: 7px;
	-webkit-padding-after: 7px;
	border-radius: 0;
	border: none;
	box-shadow: none;
	text-shadow: none;
	background-image: none;
	background-color: #ec894d;
	outline: none;
}
.real-btn:hover, .real-btn.current, .real-btn:active, .real-btn:focus {
	background-color: #AB997B;
}
input[type="text"], .large input[type="text"] {
	width: 180px;
}
.small .selectwrap input, .large .selectwrap input {
	width: 180px;
}
.small input[type="text"], .large input[type="text"] {
	width: 100%;
	padding-left: 10px;
}
.property-item h4 a:hover, .property-item h4 a:focus, .property-item h4 a:active, .es-carousel-wrapper ul li h4 a:hover, .es-carousel-wrapper ul li h4 a:focus, .es-carousel-wrapper ul li h4 a:active {
	color: #DEDEDE;
}
.more-details:hover, .more-details:focus, .more-details:active, .es-carousel-wrapper ul li p a:hover, .es-carousel-wrapper ul li p a:focus, .es-carousel-wrapper ul li p a:active {
	color: #DEDEDE;
}
.selectbox-wrapper ul li:hover {
	background-color: #D0D0D0;
}
.inner-wrapper .hentry strong {
	color: #A6A6A6;
}
span[class^='skype_pnh_container'] {
	display: none !important;
}
span[class^='skype_pnh_print_container'] {
	display: inline !important;
}
.wpb_wrapper img {
	height: auto;
}
.page-id-131 .wpb_wrapper img {
	margin-bottom: 50px;
}
/*
 * header
 */
.menu-and-contact-wrap {
	position: relative;
}
.main-menu {
	margin-top: 0;
	float: none;
	border-bottom: 1px solid #444;
}
.main-menu ul li a {
	font-family: "Times New Roman", Times, serif !important;
	font-size: 13px;
	display: block;
	text-decoration: none;
	padding: 9px 20px;
	text-transform: uppercase;
	color: #eee;
	text-decoration: none;
	text-shadow: 0 1px 0 #000;
	/*margin-right: 1px;
	 margin-left: 1px;*/
	-webkit-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
	border-top: 0px solid transparent;
	border-bottom: 1px solid transparent;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
}
.main-menu ul li:hover > a {
	background: #444;
	border-top: 0px solid #777;
	border-bottom: 1px solid #444;
	border-left: 1px solid #666;
	border-right: 1px solid #666;
	margin-right: 0px;
	margin-left: 0px;
	-webkit-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}
.main-menu ul li ul {
	display: none;
	width: 220px;
	padding: 0;
	position: absolute;
	top: 39px;
	left: 0;
	z-index: 9999;
}
.main-menu li:hover ul li a {
	background: #444;
	border-top: 0px solid #777;
	border-bottom: 1px solid #777;
	border-left: 1px solid #666;
	border-right: 1px solid #666;
	margin-right: 0px;
	margin-left: 0px;
}
.main-menu li ul li:hover a {
	background: #333 !important;
}
.main-menu ul#menu-main-menu li:nth-child(8) a {
	padding: 9px 15px;
}
#logo {
	float: right;
	text-align: right;
	max-width: 100%;
	margin: 0 auto;
	width: 100%;
	border-bottom: 1px solid #444;
	margin-bottom: 20px;
	padding-right: 14px;
}
#logo h2 {
	margin: 21px 0 13px 20px;
	line-height: 28px;
	font-size: 30px;
}
#logo h2.logo-heading {
	position: relative;
	float: right;
	text-align: right;
	text-transform: uppercase;
	font-size: 27pt;
	font-weight: normal;
	line-height: 23px;
}
#logo h2.logo-heading a span {
	font-size: 10pt;
	font-family: Calibri, Arial, Helvetica, sans-serif;
}
.disable-responsive #home-flexslider {
	min-width: 940px;
	height: 450px;
}
.page-head {
	margin-bottom: 0;
	padding-top: 42px;
	min-height: 147px;
	display: none;
}
.page-template-template-search .page-head, .page-template-default .page-head, .single-property .page-head {
	min-width: 940px;
	display: none;
}
.noSearch section.advance-search {
	display: none;
}
.desc-wrap {
	width: 100%;
	margin: auto;
	position: static;
}
.slide-description {
	position: absolute;
	left: inherit;
	top: inherit;
	right: 0;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.81);
	background-color: #fff\9;
	padding: 10px;
	width: auto;
	padding: 0 0 0 20px;
	height: 40px;
	line-height: 40px;
}
span.slider-prop-price {
	background: #A49A90;
	height: 40px;
	line-height: 40px;
	display: inline-block;
	margin-left: 27px;
	padding-right: 10px;
	padding-left: 11px;
	color: #3C3C3C !important;
}
.slide-description span {
	color: #6F6F6F;
	font-family: "Calibri";
}
/*
 * home
 */
.page-template-template-home .inner-wrapper {
	padding: 20px 0;
	border-top: 0;
	border-bottom: 0;
	background-color: transparent;
	margin-bottom: 0px;
}
.page-template-template-home .main {
	border: 0;
	margin-bottom: 0px;
}
.page-template-template-home .property-items {
	display: none;
}
.page-template-template-home .wpb_single_image {
	text-align: center;
}
.page-template-template-home .trzyboksy {
	padding: 20px 30px;
	background-color: rgba(0, 0, 0, 0.5);
	margin-bottom: 0;
}
.page-template-template-home .trzyboksy .wpb_single_image {
	margin-bottom: 12px;
}
.page-template-template-home .trzyboksy img {
	border: 2px solid #fff;
}
.page-template-template-home .trzyboksy .wpb_text_column p {
	color: #fff;
	text-align: center;
	font-size: 19px;
	text-transform: uppercase;
}
.page-template-page-full-moje h3.post-title, .page-template-page-full-moje h3.post-title + hr {
	display: none;
}
.big-headline p {
	color: #AB997B !important;
        font-size: 24px;
    font-family: Times;
    text-align: center;
    margin: 30px 0 65px 0 !important;
    text-transform: uppercase;
    display: block;
}
.text-center-image {
	    margin-bottom: 0 !important;
    position: relative;
}
.home-block-image-desc-big {
	overflow: hidden;
}
.home-block-image-desc-big span {
	    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: normal;
    margin: 0;
    padding: 50px;
    line-height: 0;
    background: rgba(0, 19, 48, 0.788235294117647);
    text-transform: uppercase;
    font-size: 22px;
}
.single-property-inner {
    background: #001330;
    padding: 0 15px;
}
.home-block-image-desc-big:hover img {
    transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
}
.home-block-image-desc-big img {
    transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
}
.page-template-template-home .contents {
	margin-bottom: 0px;
}
.page-template-template-home .trzyboksy .wpb_single_image img {
	opacity: 1;
	margin: 0;
	-webkit-transition: opacity 0.2s ease-in;
	-o-transition: opacity 0.2s ease-in;
	-moz-transition: opacity 0.2s ease-in;
	transition: opacity 0.2s ease-in;
}
.page-template-template-home .trzyboksy .wpb_single_image:hover img {
	opacity: 0.5;
	margin: 0;
	-webkit-transition: opacity 0.2s ease-in;
	-o-transition: opacity 0.2s ease-in;
	-moz-transition: opacity 0.2s ease-in;
	transition: opacity 0.2s ease-in;
}
.slide-description .know-more {
	background-color: #000000;
}
.slide-description .know-more:hover {
	background-color: #272727;
}
.slide-description h3 a:hover, .slide-description h3 a:focus, .slide-description h3 a:active {
	color: #000000;
}
label.iphorm_1_25_1_label {
  text-align: justify;
}
/*
 * page
 */
.contents {
	margin-bottom: 35px;
}
.main {
	border-left: 0;
	border-right: 0;
	margin-bottom: 0;
}
.page-head p {
	background-color: #515151;
}
.inner-wrapper {
	padding: 16px 20px 25px;
	border-top: 0;
	border-bottom: 0;
	/*background-color: #07253F;*/
	margin-bottom: 0;
	background-color: #001330;
}
.post-title, .post-title a {
	font-size: 27px;
	line-height: 36px;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-weight: normal;
	color: #FFFFFF;
	word-spacing: -1px;
}
.inner-wrapper .hentry .wpb_text_column p {
	    font-family: 'Open Sans', sans-serif;
	    font-size: 16px;
	    color:#fff;
}
.inner-wrapper .hentry .wpb_text_column p a {
	color:#fff;
}
.single article p, .single article, #single-langC, .contents.single ol li, .contents.single ul li, #property-descriptions div {
	/*color: #bfbfbf;
	font-family: calibri;
	font-size: 16px;*/
}
#single-langC {
	margin-top: 30px;
}
#tab1C {
	padding-bottom: 37px !important;
	padding-top: 15px !important;
}
.property-item #tab1C ul li{
	color: #bfbfbf;
	font-family: calibri;
	font-size: 16px;
	line-height: 22px;
}
.span-text-bigger span {
	font-size: 18px;
}
/*
 * search
 */
.page-template-template-search-php .advance-search, .page-template-template-search-moje-custom-php .advance-search {
	border-top: 0;
	margin-bottom: 20px;
	margin-top: 0;
}
.selectbox-wrapper {
	width: 100%;
	position: absolute;
	top: 27px;
	left: 0px;
	z-index: 1800;
}
.page-template-template-search-php .advance-search, .page-template-template-search-moje-custom-php .advance-search {
	border-top: 0;
	margin-bottom: 20px;
}
.advance-search {
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	position: relative;
	background-color: #001330;
	border-bottom: 20px;
	padding: 20px;
}
.advance-search label {
	color: #bfbfbf;
	cursor: text;
	margin-bottom: 2px;
}
.selectwrap input {
	width: auto;
	height: 34px;
	padding-right: 30px;
	margin-bottom: 12px;
	cursor: pointer;
	color: #383838;
	background-color: #FFF;
	background: #fff url(../images/dropdown-arrow.png) no-repeat right -3px !important;
}
.advance-search .option-bar input[type="text"]{
	margin-bottom: 12px;
}
.advance-search .option-bar.search-button-right {
	text-align: right;
	    margin-top: 10px;
}
.advance-search .option-bar:nth-child(5) {
	clear: both;
}
.advance-search .option-bar:nth-child(9) {
	clear: both;
}
.advance-search .option-bar .select2-container {
	width: 100% !important;
	margin-top: -2px;
}
.select2-container .select2-search--inline .select2-search__field {
	margin-top: 5px;
	margin-left: 10px;
	height: auto;
	cursor: pointer;
}
.select2-results__option {
	font-family: "Roboto", Helvetica, Arial, sans-serif;
    cursor: pointer;
    color: #343434;
    font-size: 14px;
    padding: 1px 8px;
    border-bottom: 1px solid #dedede;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #b4a180;
    color: white;
}
.advance-search .option-bar .select2-container span.select2-selection {
	height: 27px;
    min-height: 27px;
    border-radius: 0;
	border: 0;
	background: #fff url(../images/dropdown-arrow.png) no-repeat right -3px !important;
	cursor: pointer;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
	color: #fff;
	border-right: 1px solid #b4a180;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
	cursor: default;
    padding-left: 1px;
    padding-right: 3px;
    color: #fff;
    font-size: 13px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
	background-color: #b4a180;
    border: 1px solid #b4a180;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
    margin-left: 5px;
    margin-top: -5px;
    padding: 0;
    padding-left: 21px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    white-space: nowrap;
    height: 19px;
    padding-top: 0;
    top: -3px;
    line-height: 16px;
}
.advance-search .option-bar .selectwrap {
	/* margin-top: -1px; */
}
input[type="number"], input[type="date"], input[type="number"], input[type="tel"], input[type="url"], input[type="email"], input[type="text"], input[type="password"], textarea {
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	box-shadow: inset 0 0 2px #e9e9e9;
	border: 1px solid #FFFFFF;
	height: 27px;
	color: #383838;
	border-radius: 0;
	font-size:16px;
}
::-webkit-input-placeholder {
	color: #383838;
	opacity: 1;
}
:-moz-placeholder {
	color: #383838;
	opacity: 1;
}
::-moz-placeholder {
	color: #383838;
	opacity: 1;
}
:-ms-input-placeholder {
	color: #383838;
}
.advance-search .real-btn {
	background-color: #AB997B;
    border: 1px solid #ffffff;
    font-size: 16px;
    margin: 0;
    cursor: pointer;
    color: #ffffff;
    -webkit-appearance: none;
}
.search-carousel {
    max-height: 0;
    overflow:hidden;
    transition: max-height 0.26s ease;
    -ms-overflow-style: none;   
}
body.ie .search-carousel {
	max-height: 400px;
    transition: max-height 0.26s ease;
    overflow: visible;
}
body.ie a.search-show-more {
	display: none;
}
.search-carousel.open {
	max-height: 400px;
	transition: max-height 0.26s ease;
	overflow: visible;
}
a.search-show-more {
    color: #AB997B;
    font-size: 13px;
    cursor: pointer;
}
.search-header {
	padding: 42px 20px;
	display: none;
}
.advance-search .as-form-wrap {
	
}
.advance-search .search-heading .fa-search {
	padding: 13px 20px 15px;
	padding-bottom: 16px\9;
	margin-right: 20px;
	background-color: #252a2b;
	font-size: 25px;
}
.top-search-grid .advance-search .search-heading {
	display: none;
}
.property-item .property-meta {
	overflow: hidden;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	border-top: 0;
	background-color: #000;
	margin: 0;
	padding: 0 10px;
	clear: both;
	width: 100%;
}
/*form.advance-search-form.clearfix .option-bar:nth-child(10) {
 clear: both;
 }*/
div#property-descriptions {
    font-size: 16px;
    /*font-family: Arial;*/
    /*font-family: 'Times New Roman';*/
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 12px;
}
div#property-descriptions small.copyPrivacy {
	font-size: 12px;
    line-height: 18px;
    display: block;
    text-align: justify;
}
#property-descriptions p span {
	color: #AB997B !important;
	    font-weight: bold;
}
.spacer {
    margin-bottom: 20px;
}
.selectbox-wrapper ul li {
	cursor: pointer;
	color: #343434;
	font-size: 14px;
	padding: 1px 8px;
	border-bottom: 1px solid #dedede;
	font-family: calibri;
}
#select-location_container ul li#select-location_input_warszawa {
	font-weight: bold;
}
/*
 * property list
 */
.view-type, .sort-controls {
	display: none;
}
.list-container {
	padding: 0;
}
.list-container .row .alert-wrapper {
    margin: 0 auto;
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 55px;
}
.single-span-property {
	width: 980px;
}
.property-item, .listing-layout .property-item {

}
.property-item figure, .listing-layout .property-item figure {
	    margin: 0;
    padding: 0;
}
.property-item p, .listing-layout .property-item p {
	font-size: 16px;
	overflow: hidden;
	color: #bfbfbf;
	font-family: calibri;
	line-height: 22px;
}
.property-item h4, .property-item h4 a, .es-carousel-wrapper ul li h4 a, .listing-layout .property-item h4, .listing-layout .property-item h4 a, .listing-layout .es-carousel-wrapper ul li h4 a {
	color: #FFFFFF;
	font-family: calibri;
	font-size: 18px;
}
.more-details, .es-carousel-wrapper ul li p a, .listing-layout .more-details, .listing-layout .es-carousel-wrapper ul li p a {
	color: #FFFFFF;
}
.property-item .price, .es-carousel-wrapper ul li .price, .listing-layout .property-item .price, .listing-layout .es-carousel-wrapper ul li .price {
	background-color: #282828;
}
.listing-layout .property-item .price {
	margin: 0;
	padding: 10px;
}
.property-item figure figcaption, .listing-layout .property-item figure figcaption {
	background-color: #000000;
	font-family: calibri;
	text-transform: uppercase;
	display: none;
}
.property-item .price small, .listing-layout .property-item .price small {
	font-size: 14px;
	color: #fff;
	text-transform: capitalize;
	white-space: normal;
}
.property-item .price, .listing-layout .property-item .price {
	padding: 8px 8px 10px 11px;
	margin: 0 0 15px -11px;
	color: #fff;
	font-size: 16px;
	font-weight: normal;
}
.property-item .detail, .listing-layout .property-item .detail {
	float: right;
	width: 669px;
	padding-left: 10px;
	min-height: 175px;
}
.property-item, .property-item .property-meta, .property-item .property-meta span {
	border-color: #323232;
}
.property-item .property-meta span, .listing-layout .property-item .property-meta span {
	float: left;
	font-size: 12px;
	color: #BDBDBD;
	display: inline-block;
	border-right: 1px solid #323232;
	padding: 10px 14px 6px 0;
	margin-right: 14px;
}
.pagination .real-btn.current, .pagination .real-btn:active, .pagination .real-btn:focus {
  background-color: #AB997B;
  border: 1px solid rgba(255, 255, 255, 0.73);
  font-weight: normal;
}
.pagination a {
	padding: 1px 6px;
    margin: 0 1px 5px;
    background-color: #001330;
    border: 1px solid rgba(255, 255, 255, 0.37);
    font-weight: normal;
    color: #fff;
}
.property-meta i {
	display: inline-block;
}
.property-meta span .icon-price {
	background: url(../images/icon-price.png) no-repeat left center;
}
.property-meta span .icon-street {
	background: url(../images/icon-street.png) no-repeat left center;
}
.property-meta span .icon-area {
	background: url(../images/icon-size.png) no-repeat left center;
	width: 30px;
	height: 20px;
}
.property-meta span .icon-bed {
	background: url(../images/icon-bed.png) no-repeat left center;
	width: 30px;
	height: 20px;
}
.property-meta span .icon-garage {
	background: url(../images/icon-garage.png) no-repeat left center;
	width: 30px;
	height: 20px;
}
span .icon-town {
	background: url(../images/icon-town.png) no-repeat left center;
}
span .icon-dzielnica {
	background: url(../images/icon-dzielnica.png) no-repeat left center;
}
span .icon-buildings {
	background: url(../images/icon-buildings.png) no-repeat left center;
}
span.cena-metr {
	float: none !important;
	padding: 0 !important;
	border: 0 !important;
	margin: 0 !important;
	min-height: 0 !important;
}
.lisitng-grid-layout .pagination {
	clear: both;
	border-top: 0;
	margin: 12px 0;
	padding: 0;
	text-align: right;
}
.lg-outer.lg-pull-caption-up.lg-thumb-open .lg-sub-html {
    bottom: 100px;
    display: none;
}
.info-contact {
	margin-top: 15px;
    text-align: left;
    font-size: 17px;
    font-family: Arial;
}
.info-contact span {
	color: #AB997B;
	margin-bottom: 10px;
	text-decoration: underline;
	font-weight: bold;
}
.info-contact img {
	margin: 0 auto 30px auto;
}
.info-contact a {
	color:#fff;
	text-decoration: underline;	
}
.info-contact-inner {
    margin-left: 40px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 15px;
}
.info-contact-inner span:nth-child(1) {
	color: #AB997B;
	    margin-bottom: 10px;
    display: inline-block;
        text-decoration: underline;
        font-weight: bold;
}
.info-contact-inner a {
	color:#fff;
	text-decoration: underline;
}
.lg-backdrop {
	/*background-color: #000000;*/
	background: #061E3A url(../images/bg.jpg);
}
/*
 * property grid listing
 */
.container.contents.lisitng-grid-layout .main {
	margin-top: 0;
}
.listing-layout.property-grid .list-container article.property-item img {
	
	    transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
}

.listing-layout.property-grid .list-container article.property-item:hover figure img {
	    transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
}
.listing-layout.property-grid .list-container article.property-item figure {
	width: 100%;
height: 100%;
	float: none;
	overflow: hidden;
	border: 2px solid #000;
}
.top-pagination.clearfix {
	padding-right: 2px;
}
.grid-prop-szczegoly {
	
}
.grid-prop-szczegoly.clearfix .grid-property-details div {

}
.grid-prop-szczegoly.clearfix .grid-property-details-bottom div {
	
}
.grid-prop-szczegoly.clearfix span.cena {
	
}
.grid-property-details.clearfix {
	
}
.grid-property-details.clearfix div {

}
.grid-property-details.clearfix div:before {
	/*content: '';*/
	width: 5px;
	height: 5px;
	background: #f7f3f2;
	display: block;
	position: absolute;
	right: -13px;
	top: 11px;
	border-radius: 13px;
}
.grid-property-details.clearfix div:nth-last-child(1):before {
	display: none;
}
.grid-prop-szczegoly span .icon-area {
	background: url(../images/icon-size.png) no-repeat left center;
}
.grid-prop-szczegoly span .icon-bed {
	background: url(../images/icon-bed.png) no-repeat left center;
}
.grid-prop-szczegoly span .icon-garage {
	background: url(../images/icon-garage.png) no-repeat left center;
}
.grid-property-details-bottom.clearfix {
	
}
.grid-property-details-bottom div {
	
}
.grid-property-details-bottom span {
	font-size: 16px;
	color: #f7f3f2 !important;
	font-family: 'times new roman';
	font-weight: normal !important;
}
.grid-property-details-bottom span i {
	margin-right: 10px;
	width: 21px;
	height: 15px;
}
/*
 * single property
 */
.lSSlideOuter img {
	margin: 0 auto;
	max-height: 788px;
	max-width: 1180px;
}
#overview {
	background-color: rgba(0, 0, 0, 0.57);
}
#property-featured-image img {
	/*width: auto;
	height: auto;*/
	/*max-height: 529px;*/
}
div#property-featured-image {
	text-align: center;
}
#overview .property-item .price span {
	display: inline-block;
	background-color: #626262;
	padding: 11px 10px 11px 14px;
	margin-right: -1px;
	color: #fff;
}
#overview .property-item .price .status-label {
	margin-right: -5px;
	padding-right: 28px;
	padding-left: 7px;
	background: url(../images/arrow-left2.png) #292d2d no-repeat right 0;
}
#overview .property-item .property-meta span.printer-icon {
	display: inline-block;
	float: right;
	background: url(../images/icon-printer.png) #fff no-repeat 16px 15px;
	padding-left: 41px;
	padding-bottom: 11px;
	border-left: 1px solid #dedede;
	padding: 19px 10px 10px 43px;
	line-height: 9px;
	min-height: 43px;
	margin-left: 0;
}
.property-item .content #miniaturki ul, .property-item .content #miniaturki ol {
	/*display: inline-block !important;*/
	margin: 0 0 18px 0px !important;
	padding-left: 0 !important;
	list-style-position: inside;
}
#overview .property-item .title {
	float: left;
	margin-bottom: 0;
	padding: 0 0 0 16px;
	font-size: 15px;
	line-height: 40px;
	color: #394041;
	font-family: calibri !important;
	font-weight: bold;
}
.property-meta-gorny-pasek.clearfix {
	/*background: #001330;*/
    height: 60px;
    line-height: 47px;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    /*background: #AB997B;*/
    background: #001330;
}
.property-meta-gorny-pasek span {
	color: #ffffff;
}
.property-meta-gorny-pasek span.pad {
	padding: 0 25px;
}
.property-meta-gorny-pasek span.pad i {
	    margin-bottom: -3px;
}
.property-meta-gorny-pasek span.ulica-gora.pad {
	padding: 0 25px 0 10px;
}
span.gora-price {
	float: right;
    margin-bottom: 0;
    padding: 0 10px 0 0;
    font-size: 24px;
    color: #AB997B;
    /*font-weight: bold;*/
    line-height: 1em;
    margin-top: 10px;
    /*color: #ffffff;*/
}
span.gora-price span {
	color: #AB997B;
}
span.gora-price span {
	    display: block;
    line-height: 1em;
    text-align: right;
    font-size: 16px;
}
/*div#property-descriptions {
	width: 479px;
	float: right;
}*/
.ngg-galleryoverview {
	overflow: hidden;
	margin-top: 15px;
	width: 317px;
	clear: both;
	display: none !important;
	float: left;
	margin-right: 31px;
}
.ngg-gallery-thumbnail img {
	background-color: #FFFFFF;
	border: 1px solid #A9A9A9;
	display: block;
	margin: 4px 4px 4px 0px;
	padding: 1px;
	position: relative;
	width: 149px;
}
.slideshowlink {
	display: none;
}
/*
 * lang switcher
 */
.second-meta-box {
	float: right;
	position: absolute;
	    right: 15px;
    top: 0px;
}
.shortParagraph {
	/*width: 400px;*/
}
.second-meta-box ul {
	list-style: none;
}
.second-meta-box ul li {
	float: left;
	margin-left: 5px;
	cursor: pointer;
}
.en {
	display: none;
}
.en-lang.inactive {
	display: block !important;
}
.pl-lang.active {
	display: none;
}
.lang-switch.inactive {
	/*display: none;*/
}
/*
 * szczegoly
 */
span.wpcf7-not-valid-tip {
    display: none;
}
div.wpcf7-response-output {
    margin: 0;
    font-size: 13px;
    padding: 0;
    border: 2px solid #ff0000;
}
div.wpcf7-mail-sent-ok {
    border: 2px solid #AB997B;
    background: #AB997B;
}
.single-wrap-property #overview .property-item .property-meta {
	border: 0;
	margin: 0;
	padding: 0;
	background-color: transparent;
	border-color: transparent;
	width: auto;
}
.single-wrap-property #overview .property-item .property-meta table {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border: 2px solid #fb8904;
}
.single-wrap-property #overview .property-item .property-meta tr.numer-oferty-table td {
	color: #fb8904;
}
.single-wrap-property #overview .property-item .property-meta td {
	border-width: 1px;
	padding: 5px;
	border-style: hidden;
	font-size: 16px;
	border-color: transparent;
	background-color: transparent;
	font-family: 'calibri' !important;
}
.single-wrap-property #overview .property-item .property-meta td.requirementRight {
	width: 190px;
}
.single-wrap-property #overview .property-item .property-meta td.tg-031e {
	text-align: right;
	width: 232px;
}
.single-wrap-property #overview .property-item .property-meta hr {
	background: url(../images/hr.png) center left no-repeat;
	height: 2px;
	width: 100%;
	display: block;
	border: 0;
	margin: 6px 4px;
	padding: 0;
}
/*
 * single property nowe
 */
/*.single-wrap-property, .single-wrap-property-span12 {
	width: 796px;
}*/
.single-wrap-property #overview {
	background-color: transparent;
}
.single-wrap-property #property-slider-two-wrapper {
	padding: 0;
	background-color: rgba(0, 0, 0, 0.57);
	border-top: 0;
}
.single-wrap-property #overview .wrap {
	background-color: rgba(26, 26, 26, 0.65);
	margin-bottom: 16px;
	height: 50px;
}
.single-wrap-property #overview .wrap .title {
	float: right;
	margin-bottom: 0;
	padding: 0 10px 0 0;
	font-size: 17px;
	line-height: 50px;
	color: #fb8904;
	font-family: 'times new roman' !important;
	font-weight: bold;
	margin: 0;
}
.single-wrap-property #overview article.property-item {
	padding: 10px;
	border: none;
	margin-bottom: 0;
	background: rgba(0,0,0,0.57);
}
article.property-item div {
	border: 0;
	border: 0;
    font-size: 17px;
    font-family: Arial !important;
}
.similar-products article.property-item div {
	border: 0;
	border: 0;
    /*font-size: 14px;
    font-family: Arial !important;*/
}
.single-wrap-property #overview article.property-item .content {
	padding: 0;
	margin-bottom: 0;
	font-size: 12px;
	line-height: 22px;
	border-bottom: 0;
	padding-right: 10px;
	position: relative;
}
.single-wrap-property #overview article.property-item .content #miniaturki {
	float: left;
	margin-bottom: 20px;
}
.single-wrap-property #overview article.property-item .content #property-carousel-two {
	padding: 0;
}
#overview .map-wrap {
	padding: 0;
	position: relative;
	border-bottom: 0;
}
span.map-label {
	display: none !important;
}
#overview #property_map {
	border: none;
	width: 100%;
	height: 500px;
	margin-bottom: 0;
}
.autor-zdjec {
	font-family: 'times new roman';
	font-size: 15px;
	font-style: italic;
	position: absolute;
	bottom: 0;
}
.plan_nieruchomosci img {
	margin-bottom: 10px;
}
.plan_nieruchomosci img:nth-last-child(1){
	margin-bottom: 5px;
}
/*
 * gallery single property
 */
.ngg-galleryoverview {
	overflow: hidden;
	margin-top: 15px;
	width: 317px;
	clear: both;
	display: none !important;
	float: left;
	margin-right: 31px;
}
.ngg-gallery-thumbnail img {
	background-color: #FFFFFF;
	border: 1px solid #A9A9A9;
	display: block;
	margin: 4px 4px 4px 0px;
	padding: 1px;
	position: relative;
	width: 149px;
}
.slideshowlink {
	display: none;
}
/*
 * wbudowana galeria
 */
.single-wrap-property #property-slider-two.flexslider .slides li a {
	height:528px;
	display: block;
}
.single-wrap-property #property-slider-two.flexslider .slides img {
	width: auto;
	display: block;
	margin: 0 auto;
	max-height: 100%;
}
#miniaturki ul.flex-direction-nav {
	display: none;
}
#miniaturki #property-slider-two-wrapper {
	background: none;
	border: 0;
	padding: 0;
}
#miniaturki #property-slider-two-wrapper #property-carousel-two .flex-viewport ul {
	width: 285px !important;
	transform: translate3d(0, 0px, 0px) !important;
	-webkit-transform: translate3d(0, 0px, 0px) !important;
}
#miniaturki #property-slider-two-wrapper #property-carousel-two .flex-viewport ul li {
	float: left !important;
	width: 120px !important;
}
#property-carousel-two .slides li {
	margin: 0 10px 10px 0;
}
#miniaturki #property-slider-two-wrapper #property-carousel-two .flex-viewport ul li:nth-child(3n) {
	clear: right;
}
#property-carousel-two .slides li img {
	cursor: pointer;
	opacity: 1;
	filter: alpha(opacity=70);
	border: 1px solid #fff;
}
/*
 * tabs
 */

#tabs {
	width: 400px;
	display: block;
	position: relative;
	float: left;
	margin: 0;
}
#tabs li {
	float: left;
	list-style: none;
	outline: none;
}
#tabs li a {
	font-family: 'times new roman';
	font-size: 16px;
	font-weight: normal;
	color: #C2C2C2;
	padding-top: 5px;
	padding-left: 7px;
	padding-right: 7px;
	padding-bottom: 8px;
	display: block;
	text-decoration: none;
	outline: none;
	height: 50px;
	line-height: 50px;
	padding: 0 10px;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
}
#tabs li a.inactive {
	color: #666666;
	outline: none;
}
#tabs li a:hover, #tabs li a.inactive:hover {
	color: #fff;
	outline: none;
	cursor: pointer;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
}
/*
 * form
 */
.iphorm-element-spacer-select .selector {
	width: 279px !important;
}
.iphorm-element-wrap-file {
	clear: both !important;
}
.iphorm-element-select 
/*
 * mapa
 */
.mapa {
	/*display: none;*/
	/*position: absolute;
	 left: -100%;*/
}
/*
 * zgloszenie nier form
 */
.iphorm-theme-dark-rounded .iphorm-group-style-plain > .iphorm-group-elements .iphorm-group-title-description-wrap {
	margin-bottom: 15px;
	background: rgba(0, 0, 0, 0.65);
	padding: 5px 10px 10px 10px;
}
.iphorm-element-wrap-text input, .iphorm-element-wrap-captcha input, .iphorm-element-wrap-password input, .iphorm-element-wrap select, .iphorm-element-wrap textarea {
	color: #999;
	border: solid 1px #000;
	padding: 4px;
	background: #161616 url(../images/input-bg-rep.png) repeat-x top left;
	text-shadow: -1px -1px 0 #000;
	-webkit-box-shadow: 0 1px 3px -1px #000000;
	-moz-box-shadow: 0 1px 3px -1px #000000;
	box-shadow: 0 1px 3px -1px #000000;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	width: 277px;
}
.iphorm_1_22-element-wrap {
	height: 50px;
}
textarea.iphorm_1_22 {
	height: 96px;
}
.iphorm-theme-dark-rounded .iphorm-element-wrap label span.iphorm-required {
	color: #6B6B6B;
}
/*
 * slider
 */
/*
 * footer
 */
#footer-bottom {
	font-family: "Times New Roman", Times, serif !important;
	border-top: 1px solid #5a5a5a;
	padding: 15px 0;
	font-size: 14px;
	margin-top: 15px;
	color: #fff;
	line-height: 16px;
}
#footer-bottom .copy {
  text-align: right;
  font-size: 11px;
  padding: 14px 0 0px 0;
  color: #A1A1A1;
}
#footer-bottom .copy a {
  color: #C7C7C7;
  text-decoration: underline;
}
#footer-bottom a {
	color: #fff;
	text-decoration: underline;
}
#footer-bottom .row .span3:nth-child(2) {
	margin-left: 50px;
	padding-left: 28px;
}
#footer-bottom .row .span3:nth-child(3) {
	margin-left: 30px;
	padding-left: 60px;
}
#footer-bottom .row .span3:nth-child(4) {
	margin-left: 60px;
	padding-left: 92px;
}
#footer-bottom .row .span3:nth-child(4) span {
	float: right;
}
#footer-bottom [class^="icon-"] {
	display: inline-block;
	width: 24px;
	height: 19px;
	margin-right: 8px;
	vertical-align: -5px;
	float: left;
	margin-top: 7px;
}
#footer-bottom .icon-road22 {
	background: url(../images/icon-road22.png) no-repeat left center;
}
#footer-bottom .icon-phone22 {
	background: url(../images/icon-phone22.png) no-repeat left center;
}
#footer-bottom .icon-envelope22 {
	background: url(../images/icon-envelope22.png) no-repeat left center;
}
#wpcp-error-message {
  display: none !important;
}
.iphorm-errors-list > .iphorm-error {
  padding: 3px 10px 3px 6px;
  margin: 0;
  line-height: 16px;
  background: #fff;
  color: #000;
  font-size: 12px;
  font-weight: normal;
  display: inline-block;
  border: 1px solid #fa8b83;
  float: left;
}
.iphorm-theme-dark-rounded .iphorm-errors-list > .iphorm-error {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-shadow: none;
  border: 1px solid #000;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0;
}
a.iphorm-edit-form {
  display: none !important;
}
/*
 * social
 */
.hover-tab {
  height: 120px;
  width: 40px;
  background: green;
  float: left;
  margin-left: -40px;
  -webkit-border-top-left-radius: 12px;
  -webkit-border-bottom-left-radius: 12px;
  -moz-border-radius-topleft: 12px;
  -moz-border-radius-bottomleft: 12px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  background: #133783 url('../images/facebook.png') center center no-repeat;
  cursor: pointer;
}
.socialbox {
  position: fixed;
  z-index: 9999;
  top: 150px;
  -webkit-transition: right 0.5s ease-in-out;
  -moz-transition: right 0.5s ease-in-out;
  -o-transition: right 0.5s ease-in-out;
  -ms-transition: right 0.5s ease-in-out;
  transition: right 0.5s ease-in-out;
  right: -230px;
  display: none;
}
.social-content {
  height: 253px;
  width: 230px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
}
.pdfprnt-top-right, #property-slider-two-print {
	display: none;
}
.tos-wrapper .tos-caption {
    line-height: 20px;
    font-size: 15px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
    height: 40px;
    display: none;
}
span.OpisPelny {
  font-size: 16px;
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 320px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (                min-resolution: 192dpi) and (min-width: 320px),
only screen and (                min-resolution: 2dppx)  and (min-width: 320px) { 

  /*img {
    	width: 100px;
    }*/

}
/*@media only screen and ( min-resolution: 220dpi) and (min-width: 320px){ 

	body {
		color:#fff;
	}

}*/
@media only screen and( -webkit-min-device-pixel-ratio: 1.25 ),
       only screen and(      -o-min-device-pixel-ratio: 5/4 ),
       only screen and( min-resolution: 120dpi ),
       only screen and( min-resolution: 1.25dppx ),
        {
    /*img {
    	width: 100px;
    }*/
} 
@media only screen and (min-resolution: 1.5dppx) {
    // some hi-res css
}
@media only screen and (min--moz-device-pixel-ratio: 1.5) {
     	.single-wrap-property #property-slider-two.flexslider .slides img {
			height: 526px;
			width: auto;
			display: block;
			margin: 0 auto;
}
}

.loading .flex-viewport {
       max-height: none;
}

/* Custom CSS File for Buyers to Modify */
.text-right {
    text-align: right;
}
ul:before,
ul:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

ul:after { clear: both; }
.top-menu nav ul {
	margin: 0;
	padding: 0;
	list-style: none;	
}
.top-menu nav ul li {
	display: inline-block;
	padding: 0px 10px;
	position: relative;
}
.top-menu nav ul li a {
	color: #AB997B;
    font-size: 18px;
    font-family: Times;
    text-transform: uppercase;
}
.top-menu nav li ul { display: none; }
.top-menu nav ul li ul li {
	display: block;
	padding: 0;
	margin: 0;
}
.top-menu nav ul li ul li a {
  display: block;
    padding: 0 5px;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    transition: none;
}
.top-menu nav ul li ul li a:hover {
	background: #AB997B;
	transition: none;
}
.top-menu nav ul li:hover > ul {
      display: block;
    position: absolute;
    background: rgba(0, 19, 48, 0.8588235294117647);
    z-index: 9999;
    padding: 10px;
    left: -47%;
    text-align: center;
    width: 210px;
}
#menu-item-30668:hover > ul {
	left: -89%;
}
.top-menu nav ul li:hover li { float: none; }

.logo {
	margin: 0 50px;
}
.logo img {
	width: 187px;
}
.hamburger .hamburger__icon, 
.hamburger .hamburger__icon:before, 
.hamburger .hamburger__icon:after {
    background-color: #fff;
}
.header-wrapper {
	    margin: 40px 0 80px 0;
}
div#home-flexslider {
    margin: 0 auto;
}
div#home-flexslider .flexslider .slides li a img {
	width: 100%;
	max-width: 100%;
}
.hamburger {
	display: none;
    right: 0;
    left: auto;
    top: 20px;
    right: 20px;
        z-index: 999999;
}
.home-slogan h2 {
	color: #AB997B;
    font-size: 24px;
    font-family: Times;
    text-align: center;
    margin: 60px 0;
    text-transform: uppercase;
}
.home-block-image {
	overflow: hidden;
}
.home-block-image:hover img {
	transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1);
	-webkit-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	transition:all 0.6s ease;
	-ms-transition:all 0.6s ease;
	-webkit-transition:all 0.6s ease;
	-moz-transition:all 0.6s ease;
}
.home-block-image-desc {
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
}
.home-block-image-desc img {
	transition:all 0.6s ease;
	-ms-transition:all 0.6s ease;
	-webkit-transition:all 0.6s ease;
	-moz-transition:all 0.6s ease;
}
.home-block-image-desc span {
	    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 25px 0;
    text-align: center;
    background: rgba(0, 19, 48, 0.611764705882353);
    color: #AB997B;
    font-size: 24px;
    font-family: Times;
    text-transform: uppercase;
}
.newsletter-inner {
    text-align: center;
    font-family: Times;
    margin-top: 35px;
	margin-bottom: 80px;
}
.newsletter-inner small a {
	text-decoration: underline;
	color:#fff;
}
.newsletter-inner p {
	font-size: 22px;
    color: #AB997B;
    margin: 0;
}
.newsletter-inner small {
	font-size: 14px;
	color: #fff;
}
.newsletter-form input[type="email"], .newsletter-inner input[type="text"] {
	width: 100%;
    max-width: 450px;
    border: 1px solid #fff;
    padding: 0;
    background: transparent;
    height: 60px;
    box-sizing: border-box;
    color: #AB997B;
    font-family: Times;
    font-size: 21px;
    float: left;
    padding-left: 20px;
}
.newsletter-form input[type="submit"], .newsletter-inner button[type="submit"] {
	border-left: 0;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background: #fff;
    color: #AB997B !important;
    padding: 8px 50px 8px 50px;
    font-family: Times;
    font-size: 20px;
    display: block;
    margin-left: -4px;
    height: 60px;
    cursor: pointer;
    -webkit-border-radius: 0;
    border-radius: 0;
}
form.form_subscribe {
    margin-bottom: 30px;
}
input#fm_form_agree {
	    width: 20px;
    height: 19px;
    display: inline-block;
    margin-top: 5px;
}
input#fm_form_agree + label {
	    display: inline-block;
    vertical-align: super;
}
.newsletter-form {
    text-align: center;
    width: 629px;
    margin: 30px auto 0;
}
.newsletter-form input[type="email"]::-webkit-input-placeholder, .newsletter-inner input[type="text"]::-webkit-input-placeholder {
    color: #AB997B;
    font-family: Times;
    font-size: 21px;
    opacity: 1;
}
.newsletter-form button {
	border-left: 0;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background: #fff;
    color: #AB997B;
    padding: 8px 61px 8px 61px;
    font-family: Times;
    font-size: 20px;
    display: block;
    margin-left: -4px;
    height: 60px;
}
.copy-bottom-footer-inner {
    padding: 10px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2901960784313726);
    margin-top: 20px;
}
.copy-bottom-footer-inner a {
	color:#Fff;
	margin: 0 7px;
	font-size: 20px;
}
.copy-bottom-footer-inner a:nth-last-child(1) {
	margin-right: 0;
}
.copy-text {
	    font-size: 15px;
}
#footer-wrapper a {
	color:#fff;
}
.property-desc-top div, .property-desc-bottom div {
	display: inline-block;
	    margin-right: 15px;
}
.property-desc-top div {
	font-weight: normal;
}
.grid-prop-szczegoly {
    background: #001330;
    padding: 10px;
    margin-bottom: 20px;
}
.grid-prop-szczegoly div.cena {
	display: block;
    color: #AB997B;
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    margin-bottom: 8px;
    float: none;
}
.grid-prop-szczegoly div.cena span {
	display: inline-block;
    text-align: right;
    line-height: 8px;
    font-size: 15px;
    color: #AB997B;
    float: right;
    margin-top: 6px;
}

.property-desc-bottom span i {
        margin-right: 5px;
    width: 21px;
    height: 15px;
    display: inline-block;
    float: left;
    margin-top: 5px;
}
.property-desc-bottom span sup {
	    float: right;
    margin-top: -4px;
}
a.search-show-more {
    color: #838569;
    font-size: 13px;
}
.share-property {
    background: #001330;
    padding: 15px 0;
    margin: 15px 0;
}
.share-property a {
    font-size: 21px;
    color: #FFF;
    margin: 0 10px;
}
.share-property span {
	margin-right: 35px;
	text-transform: uppercase;
	color:#AB997B;
}
.meta-container {
    background: #AB997B;
    padding: 15px 15px;
    margin: 15px 0 40px;
}
.single-meta-info {
    color: #fff;
    font-size: 18px;
    min-height: 36px;
    line-height: 36px;
}
.single-meta-info.cena {
	font-weight: bold;
	font-size: 22px;
}
.single-meta-info.cena span {
	font-size: 18px;
}
.single-meta-info span {
	font-weight: bold;
	color: #001330;
	width: 125px;
    display: inline-block;
}
.numer-oferty {
    font-size: 18px;
    margin-top: 20px;
}
.single-meta-info span:nth-child(2) {
	color:#fff;
	font-weight: normal;

}
.agent-detail img {
	height: auto;
}
.single-meta-info sup {
	     font-size: 11px;
    position: absolute;
    margin-left: 2px;
    margin-top: -6px;
}
.plany a {
	 text-align: center;
    color: #fff;
    width: 40px;
    display: inline-block;
    margin: 0 6px;
    color:#fff;
	text-transform: uppercase;
}
.plany {
	display: inline-block;
	margin-right: 20px;	
}
.printer-icon i {
	display: block;
	    font-size: 22px;
}
.plany .lightgallery-fixed i {
	font-size: 21px;
}
.meta-right-column {
	text-align: center;
	margin-top: 80px;
}
.lSNext:before {
    content: "\f105";
    font-family: 'FontAwesome';
    font-weight: 400;
    display: inline-block;
}
.lSPrev:before {
    content: "\f104";
    font-family: 'FontAwesome';
    font-weight: 400;
    display: inline-block;
}
.miasto-gora, .dzielnica-gora {
	display: none;
}
.author {
	text-align: right;font-size: 12px;color: #9c9c9c;font-family: 'Open Sans';
}
.author a {
	margin:0;font-size: 12px;
	    color: #0ecbe3;
}
.lg-sub-html {
    display: none;
}
h3.headline-separator {
    color: #ab997b;
    font-size: 27px;
    border-bottom: 1px solid #ab997b;
    padding-bottom: 30px;
}
.tytul span {
	color: #ab997b;
    font-family: Times;
    font-size: 25px;
}
.tytul p {
	margin-bottom: 0 !important;
    margin-top: 7px;
}
/*\
 * Restore Bootstrap 3 "hidden" utility classes.
\*/

/* Breakpoint XS */
@media (max-width: 575px)
{
    .hidden-xs-down, .hidden-sm-down, .hidden-md-down, .hidden-lg-down, .hidden-xl-down, 
    .hidden-xs-up, 
    .hidden-unless-sm, .hidden-unless-md, .hidden-unless-lg, .hidden-unless-xl
    {
        display: none !important;
    }
    span.slider-prop-price {
    	display: none;
    }
    .slide-description {
     	padding-right: 20px;          
     }
     .mobile-text-center {
     	text-align: center;
     }
     .newsletter-form button {
     	width: 100%;
     	margin: 0;
     	height: 40px;
     }
     #property-slider-two {
     	min-height: 260px;
     }

}
@media (max-width: 767px) {
	.lg-thumb-outer {
		display: none !important;
	}
	.newsletter-form {
		width: 100%;
	}
	.newsletter-form input[type="email"], .newsletter-inner input[type="text"] {
		text-align:center;
		max-width: 100%;
	}
	.newsletter-form input[type="submit"], .newsletter-inner button[type="submit"] {
		width: 100%;
    	max-width: 100%;
    	margin-left: 0;
	}
	.newsletter-form button {
		width: 100%;
		margin-left: 0;
	}
	span.gora-price {
     float: none;
    margin-bottom: 0;
    padding: 0 10px 0px 10px;
    line-height: 1em;
    margin-top: 0px;
    display: block;
    color: #AB997B;
    font-weight: bold;
    font-size: 18px;
    text-align: left;
	}
	span.gora-price span {
    display: inline-block;
    text-align: right;
    line-height: 8px;
    font-size: 15px;
    color: #AB997B;
    float: right;
    margin-top: 6px;
    font-weight: normal;
}
.property-meta-gorny-pasek.clearfix {
	    height: auto;
    font-size: 13px;
    padding-top: 10px;
}
.property-meta-gorny-pasek span.pad {
	width: auto;
    display: inline-block;
    padding: 0 13px 0 10px;
}
.lSSlideOuter img {
	    max-height: 202px;
    max-width: 100%;
}
.share-property span {
	    margin-right: 0;
    display: block;
    text-align: center;
}
.share-property {
	text-align: center;
}
div#property-descriptions {
	font-size: 14px;
}
.info-contact-inner {
    font-size: 13px;
    margin-bottom: 30px;
}
.single-meta-info {
    color: #fff;
    font-size: 15px;
    min-height: 30px;
    line-height: 30px;
}
.single-meta-info span {
    width: 112px;
}
.single-meta-info.cena {
    font-size: 19px;
}
.meta-right-column {
    text-align: center;
    margin-top: 30px;
}
.miasto-gora {
	display: block;
}
span.gora-price {
    margin-bottom: 10px;
}
.property-meta-gorny-pasek.clearfix {
	line-height: 23px;
}
.size-gora, .pokoje-gora, .garage-gora {
	display: table-cell !important;
}

}
/* Breakpoint SM */
@media (min-width: 576px) and (max-width: 767px)
{
    .hidden-sm-down, .hidden-md-down, .hidden-lg-down, .hidden-xl-down, 
    .hidden-xs-up, .hidden-sm-up, 
    .hidden-unless-xs, .hidden-unless-md, .hidden-unless-lg, .hidden-unless-xl
    {
        display: none !important;
    } 
}
@media (max-width: 991px) {
	#menu-toggle {
		display: block;
	}
	.flex-logo {
		width: 100%;
		text-align: center;
	}
	.logo {
		margin: 0 auto;
	}
	.logo img {
		width: 150px;
	}
	.flex-direction-nav {
		display: none;
	}
	.grid-prop-szczegoly div.cena {
		float: none;
    margin-bottom: 6px;
	}
	.grid-prop-szczegoly div.cena span {
		text-align: left;
	}
	article.property-item div {
		font-size: 15px;
	}
	.property-desc-top div, .property-desc-bottom div {
		    margin-right: 8px;
	}
	.property-meta-gorny-pasek span.pad {
	    padding: 0px 8px;
	}
	.single-meta-info {
	font-size: 16px;
}
.single-meta-info.cena {
    font-size: 18px;
}
.single-meta-info span {
	width: auto;
	    margin-right: 8px;
}
}
/* Breakpoint MD */
@media (min-width: 768px) and (max-width: 991px)
{
    .hidden-md-down, .hidden-lg-down, .hidden-xl-down, 
    .hidden-xs-up, .hidden-sm-up, .hidden-md-up, 
    .hidden-unless-xs, .hidden-unless-sm, .hidden-unless-lg, .hidden-unless-xl
    {
        display: none !important;
    } 
}

/* Breakpoint LG */
@media (min-width: 992px) and (max-width: 1199px)
{
    .hidden-lg-down, .hidden-xl-down, 
    .hidden-xs-up, .hidden-sm-up, .hidden-md-up, .hidden-lg-up, 
    .hidden-unless-xs, .hidden-unless-sm, .hidden-unless-md, .hidden-unless-xl
    {
        display: none !important;
    } 
}

/* Breakpoint XL */
@media (min-width: 1200px)
{
    .hidden-xl-down, 
    .hidden-xs-up, .hidden-sm-up, .hidden-md-up, .hidden-lg-up, .hidden-xl-up, 
    .hidden-unless-xs, .hidden-unless-sm, .hidden-unless-md, .hidden-unless-lg
    {
        display: none !important;
    } 
    .socialbox {
    	display: block;
    }
}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
  select,
  textarea,
  input {
    font-size: 16px !important;
  }
}
@media print {
	body {
	}
	span.printer-icon, .socialbox, #property-featured-image, .lSSlideOuter .lSPager.lSGallery, .similar-products, .share-property, .newsletter, #footer-wrapper, .copy-bottom-footer, .agent-detail, .lSAction, .spacer, .plany, #imageGallery, #property-slider-two-wrapper {
		display: none !important;
	}
	.container .row {
		margin: 0 auto !important;
	}
	.single-wrap-property {
		width: 100%;
	}
	.header-wrapper {
  margin-top: 20px;
}
.single-wrap-property-span12 {
  width: 100%;
  padding: 0 20px;
}
.miasto-gora, .dzielnica-gora {
	display: none;
}
#imageGallery li {
	/*width: 100% !important;*/
	margin: 0 !important;
}
.lSSlideOuter {
	position: relative !important;
}
.lSSlideOuter img {
    height: auto !important;
    max-height: 600px !important;
    max-width: 600px;	
    /*width: 600px !important;*/
}
#imagePrint {
	display: block !important;
    text-align: center;
    margin: 0 auto;
}
#imagePrint img {
	    display: block;
    margin: 0 auto;
}
/*#imageGallery {
	height: 800px !important;
	
}*/

}