#menu-toggle {
  position: fixed;
  padding: 20px 20px 20px 65px;
  width: 100%;
  left: 0;
  top: 0;
  color: #fff;
  z-index: 5;
  display: none;
}
*{
	-webkit-transition: .5s ease;
  -moz-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}
#menu-toggle.open { left:  280px; }

#menu-icon {
  width: 33px;
    height: 30px;
  position: absolute;
  left: 10px;
  top: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease;
  -moz-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
  cursor: pointer;
}
#menu-icon.open span {
	    background: #000;
}
#menu-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 50%;
  background: #fff;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease;
  -moz-transition: .25s ease;
  -o-transition: .25s ease;
  transition: .25s ease;
}

#menu-icon span:nth-child(even) { left: 50%; }

#menu-icon span:nth-child(odd) { left: 0px; }

#menu-icon span:nth-child(1),
#menu-icon span:nth-child(2) { top: 5px; }

#menu-icon span:nth-child(3),
#menu-icon span:nth-child(4) { top: 15px; }

#menu-icon span:nth-child(5),
#menu-icon span:nth-child(6) { top: 25px; }

#menu-icon.open span:nth-child(1),
#menu-icon.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#menu-icon.open span:nth-child(2),
#menu-icon.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#menu-icon.open span:nth-child(1) {
  left: 2px;
    top: 8px;
}

#menu-icon.open span:nth-child(2) {
      left: calc(50% - 3px);
    top: 8px;
}

#menu-icon.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#menu-icon.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#menu-icon.open span:nth-child(5) {
  left: 2px;
    top: 20px;
}

#menu-icon.open span:nth-child(6) {
  left: calc(50% - 3px);
    top: 20px;
}

/* MENU STYLES */

ul#menu,
#menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#menu {
  background: #0c192a;
  width: 290px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100%;
  z-index: 4;
}

#menu li { position: relative; }

#menu.open { left: 0; }

#menu a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #fff;
  border-bottom: 1px solid #ffffff57;
}

#menu a:hover { color: white; }

#menu .parent  ul {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -245px;
  width: 245px;
  z-index: 99999;
}

#menu .parent ul .parent ul {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100%;
  width: 310px;
}

#menu .parent.open ul {
  left: 0;
  background: #122032;
}

#menu .parent.open ul .parent.open ul {
  left: 0;
  background: #444444;
}

.submenu-toggle {
  position: absolute;
  right: 0px;
  top: 0px;
  cursor: pointer;
  width: 45px;
  height: 57px;
  text-indent: -5000px;
  overflow: hidden;
}

.submenu-toggle.open {
  background: #122032;
  height: 100%;
  z-index: 5000;
  top: 0;
}

.submenu-toggle:before,
.submenu-toggle:after { -webkit-transition: .5s ease; }

.submenu-toggle:before {
  content: '';
  display: block;
  position: absolute;
  height: 16px;
  width: 16px;
  top: 19px;
  right: 15px;
  border-top: 3px solid #929292;
  border-right: 3px solid #929292;
  -webkit-transform: rotate(45deg);
}

.submenu-toggle:after {
  content: '';
  display: block;
  position: absolute;
  height: 16px;
  width: 16px;
  top: 19px;
  left: 50px;
  border-top: 3px solid #929292;
  border-right: 3px solid #929292;
  -webkit-transform: rotate(-135deg);
}

.submenu-toggle:hover:before,
.submenu-toggle:hover:after { border-color: white; }

.submenu-toggle.open:before { right: 23px; }

.submenu-toggle.open:after { left: 24px; }

#menu-overlay {
  position: fixed;
  width: 100%;
  background: red;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background: rgba(255,255,255,.0);
}

#menu-overlay.open {
  z-index: 3;
  background: rgba(255,255,255,.9);
}
#page-content.open {
    left: 400px;
}
#page-content {
    margin: 0 auto;
    position: relative;
    left: 0;
    z-index: 1;
    max-width: 1900px;
}